<!DOCTYPE html>
<html>
<head>
    <title>Aprovação de posts</title>
</head>
<body>
    <h1>Aprovação de posts</h1>
    <ul>
        {% for post in posts %}
            <li>
                <h2>{{ post[1] }}</h2>
                <p>{{ post[2] }}</p>
                <p>Status: {{ post[5] }} </p>
                <button onclick="atualizarStatus('{{ post[0] }}')">Atualizar Status do Post</button>
            </li>
        {% endfor %}
    </ul>

    <script>
        function atualizarStatus(postId) {
            fetch(`/atualizar_status/${postId}`, {
                method: 'GET',
            })
        }
        </script>
</body>
</html>