<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">
        <link rel="shortcut icon" href="../static/img/logoph.png">

    {% block style %}
    {% endblock %}
</head>
<body>

    {% if access == True %}
    <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #004619">
        <a class="navbar-brand" href="/">
            <img src="{{ url_for('static', filename='img/logoph.png') }}" alt="logo do site">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-row-reverse" id="navbarNav">

            <div class="tela_perfil_nome2 flex-column d-md-none">
                <div class="d-flex align-items-center" style="padding-top: 16px; padding-bottom: 35px; justify-content: space-between;">
                    <div class="d-flex flex-row gap-3" style="justify-content: center; align-items: center;">
                        <img src="{{ url_for('exibir_imagem') }}" class="foto_perfil" width="95px" height="95px" alt="foto de perfil">
                        <div class="d-flex flex-column">
                                    <b class="fs-4 fw-semibold" style="color: white;">{{name}}</b>
                                    <b class="fw-regular" style="color: white; font-size: 15px; font-weight: 400;">{{email}}</b>
                        </div>
                    </div>
                    <a href="/logout"><div class="d-flex gap-2" style="align-items: end;">
                        <img src="../static/img/icons/sair.png" width="23px" height="23px" alt="logout">
                        <a href="/logout">Sair</a>
                    </div></a>
                </div>
                <div class="pb-2" style="width: 100%; margin: 0 auto;">
                    <div class="d-flex gap-2 align-items-center">
                        <a href="/perfil"><img src="../static/img/icons/perfil.png" width="16px" height="16px" alt="user" style="margin-right: 10px; margin-bottom: 5px;">Perfil</a>
                    </div>
                </div>
            </div>
          <ul class="navbar-nav">
            <div class="hr_navbar d-md-none"></div>
            <li class="nav-item active">
                <a class="nav-link" style="color: #fff;" href="/"><img src="../static/img/icons/inicio.png" width="16px" height="16px" alt="inicio" style="margin-right: 10px; margin-bottom: 5px;" class="d-md-none">Início</a>
            </li>
            
            <div class="hr_navbar d-md-none"></div>
            <li class="nav-item">
                <a class="nav-link" style="color: #fff;" href="/hospital"><img src="../static/img/icons/hospitais.png" width="16px" height="16px" alt="hospitais" style="margin-right: 10px; margin-bottom: 5px;" class="d-md-none">Hospitais</a>
            </li>
            <div class="hr_navbar d-md-none"></div>
            <li class="nav-item">
                <a class="nav-link" style="color: #fff;"href="/dados"><img src="../static/img/icons/dados.png" width="16px" height="16px" alt="hospital" style="margin-right: 10px; margin-bottom: 5px;" class="d-md-none">Dados Gerais</a>
            </li>
            <div class="hr_navbar d-md-none"></div>
            <li class="nav-item">
                <a class="nav-link" style="color: #fff;" href="/blog"><img src="../static/img/icons/blog.png" width="16px" height="16px" alt="hospital" style="margin-right: 10px; margin-bottom: 5px;" class="d-md-none">Blog</a>
            </li>
            <div class="hr_navbar d-md-none"></div>
            <li class="nav-item">
                <a class="nav-link" style="color: #fff;" href="/proadisus"><img src="../static/img/icons/pproadisus.png" width="16px" height="16px" alt="proadisus" style="margin-right: 10px; margin-bottom: 5px;" class="d-md-none">Proadi-SUS</a>
            </li>
            {% if permissao == 1 %}
            <div class="hr_navbar d-md-none"></div>
                <li class="nav-item active">
                    <a class="nav-link" style="color: #fff;" href="/gerenciamento_post_adm"><img src="../static/img/icons/eng.png" width="16px" height="16px" alt="gerenciando" style="margin-right: 10px; margin-bottom: 5px;" class="d-md-none">Gerenciando Posts</a>
                </li>
            {% endif %}
            <div class="hr_navbar d-md-none" style="margin-bottom: 20px;"></div>
            <label class="d-none d-md-block" style="
            color: #FFF; 
            padding: 10px 1.5rem;
            font-size: 14px;
            font-weight: bold;
            line-height: 120%; /* 16.8px */
            letter-spacing: -0.14px;">
            |
            </label>
            <li class="nav-item d-none d-md-block" style="margin-top: 8px;">
                <a id="perfil_nome" class="navbar__links__link fs-6" href="#" style="color: #fff; padding: -10px;">{{name}}</a>
            </li>
          </ul>
        </div>
    </nav>

    <div id="minhadiv" class="tela_perfil_nome">
        <div class="d-flex gap-3 m-3 align-items-center">
            <img src="{{ url_for('exibir_imagem') }}" class="foto_perfil" width="70px" height="70px" alt="foto de perfil">
            <div class="d-flex flex-column">
                        <b>{{name}}</b>
                        <b>{{email}}</b>
            </div>
        </div>
        <div class="pb-2">
            <div class="d-flex gap-3 align-items-center">
                <img src="../static/img/icons/user.png" width="16px" height="16px" alt="user">
                <a href="/perfil">Perfil</a>
            </div>
            {% if permissao == 1 %}
            <hr>
            <div class="d-flex gap-3 align-items-center">
                <img src="../static/img/icons/engrenagem.png" width="16px" height="16px" alt="user">
                <a href="/gerenciamento_post_adm">Gerenciador de Posts</a>
            </div>
            {% endif %}
            <hr>
            <div class="d-flex gap-3 align-items-center">
                <img src="../static/img/icons/logout.png" width="16px" height="16px" alt="logout">
                <a href="/logout">Sair</a>
            </div>
        </div>
    </div>

    <script src="{{url_for('static', filename='tela_perfil.js') }}"></script>

    <a href="#" id="click_escuro"><div id="fundo-escuro" class="oculto"></div></a>

    {% endif %}


    {% if access == False %}
      <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #004619">
        <a class="navbar-brand" href="/">
            <img src="{{ url_for('static', filename='img/logoph.png') }}" alt="logo do site">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-row-reverse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" style="color: #fff;" href="/">Início</a>
            </li>
            <div class="hr_navbar d-md-none"></div>
            <li class="nav-item">
                <a class="nav-link" style="color: #fff;" href="/hospital">Hospitais</a>
            </li>
            <div class="hr_navbar d-md-none"></div>
            <li class="nav-item">
                <a class="nav-link" style="color: #fff;"href="/dados">Dados Gerais</a>
            </li>
            <div class="hr_navbar d-md-none"></div>
            <li class="nav-item">
                <a class="nav-link" style="color: #fff;" href="/blog">Blog</a>
            </li>
            <div class="hr_navbar d-md-none"></div>
            <li class="nav-item">
                <a class="nav-link" style="color: #fff;" href="/proadisus">Proadi-SUS</a>
            </li>
            <div class="hr_navbar d-md-none"></div>
            <label class="d-none d-md-block" style="
            color: #FFF; 
            padding: 10px 1.5rem;
            font-size: 14px;
            font-weight: bold;
            line-height: 120%; /* 16.8px */
            letter-spacing: -0.14px;">
            |
            </label>
            <li class="nav-item">
                <a class="nav-link" style="color: #fff;"href="/login">Entrar</a>
            </li>
            <div class="hr_navbar d-md-none" style="margin-bottom: 20px;"></div>
          </ul>
        </div>
      </nav>
    {%endif %}
    

    {% block content %}
        
    {% endblock %}

    
    <footer class="footer">
        <p class="copyright"> &copy; Todos os direitos reservados</p>
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>