<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">

    {% block style %}{% endblock %}
    <title>{{title}}</title>
</head>
<body>

    {% if access == True %}
    
    <div class="menuzin">
    <header class="navbar">
        
        <img class="navbar__logo" src="{{url_for('static', filename='img/logoph.png')}}" alt="logo do site">
        <nav class="navbar__links">
            <a class="navbar__links__link" href="/">Início</a>
            <a class="navbar__links__link" href="/">Hospitais</a>
            <a class="navbar__links__link" href="/dados">Dados gerais</a>
            <a class="navbar__links__link" href="/blog">Blog</a>
            <a class="navbar__links__link" style="border-right: 1px solid #FFF; padding-right: 50px;" href="/">Proadi-SUS</a>
            <a id="perfil_nome" class="navbar__links__link" href="#">{{name}}</a>
        </nav>
        
    </header>
        <div class="tela_perfil_nome">
            <ul>
                <div class="perfil_content">
                    <img src="../static/img/foto_de_perfil.png" width="54px" height="54px" alt="foto de perfil">
                    <div class="perfil_text">
                        <b><li>{{name}}</li></b>
                        <li>{{email}}</li>
                    </div>
                </div>
                <div style="display: flex;">
                    <img src="../static/img/User.png" width="16px" height="16px" alt="user">
                    <a href="/perfil"><li>Perfil</li></a>
                </div>
                <hr>
                <div style="display: flex;">
                    <img src="../static/img/SignOut.png" width="16px" height="16px" alt="logout">
                    <a href="/logout"><li>Sair</li></a>
                </div>
            </ul>
        </div>
    <script src="{{url_for('static', filename='tela_perfil.js') }}"></script>
    </div>
    {% endif %}

    {% if access == False %}
    <header class="navbar">
        <img class="navbar__logo" src="{{ url_for('static', filename='img/logoph.png') }}" alt="logo do site">
        <nav class="navbar__links">
            <a class="navbar__links__link" href="/">Início</a>
            <a class="navbar__links__link" href="">Hospitais</a>
            <a class="navbar__links__link" href="/dados">Dados gerais</a>
            <a class="navbar__links__link" href="/blog">Blog</a>
            <a class="navbar__links__link" style="border-right: 1px solid #FFF; padding-right: 50px;" href="/proadisus">Proadi-SUS</a>
            <a class="navbar__links__link" href="/login">Entrar</a>
        </nav>
    </header>
    {%endif %}



    {% block content %}
    <!-- Conteudo da pagina -->
    {% endblock %}


    <footer class="footer">
        <p class="copyright"> &copy; Todos os direitos reservados</p>
    </footer>
    
</body>
</html>