<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">

    {% block style %}{% endblock %}
    <title>{{title}}</title>
</head>
<body>

    {% if access == True %}
    
    <div class="menuzin">
    <header class="navbar">
        
        <img class="navbar__logo" src="{{url_for('static', filename='img/logoph.png')}}" alt="logo do site">
        <nav class="navbar__links">
            <a class="navbar__links__link" href="/">Início</a>
            <a class="navbar__links__link" href="/hospital">Hospitais</a>
            <a class="navbar__links__link" href="/dados">Dados gerais</a>
            <a class="navbar__links__link" href="/blog">Blog</a>
            <a class="navbar__links__link" href="/proadisus">Proadi-SUS</a>
            <label style="
            color: #FFF; 
            padding: 0 1.5rem;
            font-size: 14px;
            font-weight: bold;
            line-height: 120%; /* 16.8px */
            letter-spacing: -0.14px;">
            |
            </label>
            <a id="perfil_nome" class="navbar__links__link" href="#" style="padding-right: 1.2rem;" >{{name}}</a>
        </nav>
        
    </header>
        <div class="tela_perfil_nome">
            <div class="d-flex gap-3 m-3 align-items-center">
                <img src="../static/img/foto_de_perfil.png" width="70px" height="70px" alt="foto de perfil">
                <div class="d-flex flex-column">
                            <b>{{name}}</b>
                            <b>{{email}}</b>
                </div>
            </div>
            <div class="pb-2">
                <div class="d-flex gap-3 align-items-center">
                    <img src="../static/img/User.png" width="16px" height="16px" alt="user">
                    <a href="/perfil">Perfil</a>
                </div>
                <hr>
                <div class="d-flex gap-3 align-items-center">
                    <img src="../static/img/SignOut.png" width="16px" height="16px" alt="logout">
                    <a href="/logout">Sair</a>
                </div>
            </div>
        </div>
    <script src="{{url_for('static', filename='tela_perfil.js') }}"></script>
    </div>
    <a href="#" id="click_escuro"><div id="fundo-escuro" class="oculto"></div></a>
    {% endif %}


    {% if access == False %}
    <header class="navbar">
        <img class="navbar__logo" src="{{ url_for('static', filename='img/logoph.png') }}" alt="logo do site">
        <nav class="navbar__links">
            <a class="navbar__links__link" href="/">Início</a>
            <a class="navbar__links__link" href="/hospital">Hospitais</a>
            <a class="navbar__links__link" href="/dados">Dados gerais</a>
            <a class="navbar__links__link" href="/blog">Blog</a>
            <a class="navbar__links__link" style="border-right: 1px solid #FFF; padding-right: 50px;" href="/proadisus">Proadi-SUS</a>
            <a class="navbar__links__link" href="/login">Entrar</a>
        </nav>
    </header>
    {%endif %}
    

    {% block content %}
        
    {% endblock %}

    
    <footer class="footer">
        <p class="copyright"> &copy; Todos os direitos reservados</p>
    </footer>
    
</body>
</html>