{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/style_blog.css') }}" />
<title>Blog</title>
{% endblock %}

{% block content %}
<main>
  <div class="bg-img min_width_hospital">

    <div class="escuro">
      <div class="conteudo__capa__texto m-4">

        <div class="style_letra_capa">
         Rim do Amor <br> Tudo sobre Doença Renal Crônica em crianças
        </div>
      </div>
    </div>
  </div>
  <br />

  <div class="new-post">
    <a href="/post/criar_post"><input type="submit" value="Novo Post" class="button_forma fw-bold button_submit"></a>
    <form method="get" action="/blog">
      <label for="categoria" class="form-label">Filtrar por Categoria:</label>
      <select name="categoria" id="categoria">
        <option value="">Todas as Categorias</option>
        <option value="relato">Relatos</option>
        <option value="noticia">Noticia</option>
      </select>
      <button type="submit" class="button_forma fw-bold button_submit submit_btn">Filtrar</button>
    </form>
  </div>

  <!-- Post grande  -->
  {% if posts|length > 4 %}
  <div class="flex_container1">
    <div>
      <a href="/post/{{posts[0][5]}}/{{posts[0][1]}}">
        <div class="card text-bg-dark">
          <img
            src="../static/img/post_uploads/post_{{posts[0][0]}}.png"
            class="card-img imagem_grande"
            alt="..."
            style="max-width: 572px"
          />
          <div class="card-img-overlay d-flex justify-content-end flex-column">
            <h2 class="card-title main-card-title">{{posts[0][1]}}</h2>
          </div>
        </div>
      </a>

    </div>
    <div>
      <!-- Post 2 -->
      <a href="/post/{{posts[1][5]}}/{{posts[1][1]}}">
        <div class="card mb-3 card-pequeno" style="max-width: 540px">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="../static/img/post_uploads/post_{{posts[1][0]}}.png"
                class="img-fluid rounded-start imagens_pequenas"
                alt="..."
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{posts[1][1]}}</h5>
                <p class="card-text">
                  <small class="text-body-secondary"></small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </a>
      <!-- Post 3 -->
      <a href="/post/{{posts[2][5]}}/{{posts[2][1]}}">
        <div class="card mb-3 card-pequeno" style="max-width: 540px">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="../static/img/post_uploads/post_{{posts[2][0]}}.png"
                class="img-fluid rounded-start imagens_pequenas"
                alt="..."
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{posts[2][1]}}</h5>
                <p class="card-text">
                  <small class="text-body-secondary"></small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </a>
      <!-- Post 4 -->
      <a href="/post/{{posts[3][5]}}/{{posts[3][1]}}">
        <div class="card mb-3 card-pequeno" style="max-width: 540px">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="../static/img/post_uploads/post_{{posts[3][0]}}.png"
                class="img-fluid rounded-start imagens_pequenas"
                alt="..."
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{posts[3][1]}}</h5>
                <p class="card-text">
                  <small class="text-body-secondary"></small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <hr />
  <div class="flex_container2">
    <div class="flex_row">
      {% for post in posts[4:] %}
      <a href="/post/{{post[5]}}/{{post[1]}}">
        <div class="flex_row">
          <div class="card" style="width: 22rem">
            <img src="../static/img/post_uploads/post_{{post[0]}}.png" class="card-img-top imagens_medias" alt="..." />
            <div class="card-body">
              <h5 class="card-title">{{ post[1]}}</h5>
            </div>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
{% else %}
<div class="flex_row">
  {% for post in posts %}
  <a href="/post/{{post[5]}}/{{post[1]}}">
    <div class="flex_row">
      <div class="card" style="width: 22rem">
        <img src="../static/img/post_uploads/post_{{post[0]}}.png" class="card-img-top imagens_medias" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ post[1]}}</h5>
        </div>
      </div>
    </div>
  </a>
  {% endfor %}
</div>
{% endif %}


  </div>
  <div class="mb-5"></div>
</main>
{% endblock %}
