{% extends "base.html" %}>

{% block content %}
    <main>
      <div style="width: 100%; height: 1374px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex;">
        <div style="width: 100%; align-self: stretch; height: 520px; padding: 10px; background-image: url(../static/img/Carrousel.png); background-repeat: no-repeat; background-size: cover; justify-content: center; align-items: flex-end; gap: 10px; display: inline-flex">
          <div style="justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
            <div style="width: 10px; height: 10px; background: white; border-radius: 9999px"></div>
            <div style="width: 10px; height: 10px; border-radius: 9999px; border: 1px white solid"></div>
            <div style="width: 10px; height: 10px; border-radius: 9999px; border: 1px white solid"></div>
            <div style="width: 10px; height: 10px; border-radius: 9999px; border: 1px white solid"></div>
            <div style="width: 10px; height: 10px; border-radius: 9999px; border: 1px white solid"></div>
          </div>
          <div style="width: 761px; padding-top: 10px; padding-bottom: 10px; left: 84px; top: 356px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 25px; display: inline-flex">
            <div style="align-self: stretch; color: white; font-size: 32px; font-family: Raleway; font-weight: 700; line-height: 38.40px; word-wrap: break-word">Um novo hospital adquiriu equipamentos para tratamento da Insuficiência Renal Crônica (IRC) </div>
          </div>
        </div>

        <div style="align-self: stretch; height: 881px; background: linear-gradient(180deg, white 0%, rgba(255, 255, 255, 0) 100%); flex-direction: column; justify-content: center; align-items: center; display: flex">


          <div style="align-self: stretch; height: 833px; padding-left: 80px; padding-right: 80px; padding-top: 50px; padding-bottom: 50px; background: #F4F4F4; flex-direction: column; justify-content: center; align-items: flex-start; gap: 25px; display: flex">

            <div style="width: 1402px;height: 40px; flex-direction: column; justify-content: stretch; align-items: stretch; gap: 5px; display: flex">
              <div style="align-self: stretch; height: 40px; padding: 10px; border-radius: 10px; overflow: hidden; border: 1px #BFBFBF solid; justify-content: space-between; align-items: center; display: inline-flex">
                <div style="color: #9D9D9D; font-size: 14px; font-family: Roboto; font-weight: 400; line-height: 16.80px; word-wrap: break-word">Pesquisar</div>
                <div style="width: 16px; height: 16px; background-image: url('../static/img/lupa.png');"></div>
              </div>
            </div>

            <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 25px; display: inline-flex">
              <div style="width: 678px; align-self: stretch; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 10px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 10px; display: inline-flex">
                <div style="align-self: stretch; height: 668px; border-radius: 10px; overflow: hidden; background-image: url(../static/img/mainimg.png); flex-direction: column; justify-content: flex-end; align-items: center; gap: 10px; display: flex">
                  <div style="align-self: stretch; height: 668px; padding: 35px; background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.50) 100%); flex-direction: column; justify-content: flex-end; align-items: flex-start; gap: 10px; display: flex">
                    <div style="flex-direction: column; justify-content: flex-end; align-items: flex-start; gap: 15px; display: flex">
                      <div style="color: white; font-size: 32px; font-family: Raleway; font-weight: 700; line-height: 38.40px; word-wrap: break-word">Clinica de hemodiálise abre no<br/>interior do Nordeste</div>
                      <div style="width: 463px; color: white; font-size: 18px; font-family: Roboto; font-weight: 500; line-height: 21.60px; word-wrap: break-word">Nova Esperança para a Saúde: Clínica de Hemodiálise Inaugurada no Coração do Nordeste</div>
                    </div>
                  </div>
                </div>
              </div>
              <div style="flex: 1 1 0; align-self: stretch; flex-direction: column; justify-content: center; align-items: flex-start; gap: 10px; display: inline-flex">
                <div style="align-self: stretch; flex: 1 1 0; flex-direction: column; justify-content: center; align-items: flex-start; gap: 25px; display: flex">
                  <div style="max-width: 700px; align-self: stretch; flex: 1 1 0; background: white; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 10px; overflow: hidden; justify-content: center; align-items: center; gap: 20px; display: inline-flex">
                    <img style="width: 224px; align-self: stretch; padding: 0" src="../static/img/Frame 1295.png" />
                    <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 25px; display: inline-flex">
                      <div style="width: 333px; color: #374151; font-size: 18px; font-family: Raleway; font-weight: 700; line-height: 18px; word-wrap: break-word">ESTATÍSTICA</div>
                      <div style="align-self: stretch; color: #111827; font-size: 24px; font-family: Raleway; font-weight: 700; line-height: 28.80px; word-wrap: break-word">URGENTE: Casos de IRC<br/>crescem em 5% no mês<br/>de Setembro.</div>
                    </div>
                  </div>
                  <div style="max-width: 700px; align-self: stretch; flex: 1 1 0; background: white; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 10px; overflow: hidden; justify-content: flex-start; align-items: center; gap: 20px; display: inline-flex">
                    <img style="width: 224px; align-self: stretch; padding: 0" src="../static/img/Frame 1296.png" />
                    <div style="flex: 1 1 0; align-self: stretch; flex-direction: column; justify-content: center; align-items: flex-start; gap: 25px; display: inline-flex">
                      <div style="width: 333px; color: #374151; font-size: 18px; font-family: Raleway; font-weight: 700; line-height: 18px; word-wrap: break-word">DOAÇÃO</div>
                      <div style="align-self: stretch; color: #111827; font-size: 24px; font-family: Raleway; font-weight: 700; line-height: 28.80px; word-wrap: break-word">Menina de quatro anos do<br/>Amapá consegue doador<br/>compátivel</div>
                    </div>
                  </div>
                  <div style="max-width: 700px; align-self: stretch; flex: 1 1 0; background: white; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 10px; overflow: hidden; justify-content: flex-start; align-items: center; gap: 20px; display: inline-flex">
                    <img style="width: 224px; height: 206px; padding: 0" src="../static/img/Frame 1297.png" />
                    <div style="flex: 1 1 0; align-self: stretch; flex-direction: column; justify-content: center; align-items: flex-start; gap: 25px; display: inline-flex">
                      <div style="align-self: stretch; color: #374151; font-size: 18px; font-family: Raleway; font-weight: 700; line-height: 18px; word-wrap: break-word">JURÍDICO</div>
                      <div style="align-self: stretch; color: #111827; font-size: 24px; font-family: Raleway; font-weight: 700; line-height: 28.80px; word-wrap: break-word">Aplicada nova lei esse mês<br/>que torna obrigatório pelo<br/>menos duas clinicas por<br/>cidade.</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div style="align-self: stretch; height: 30.46px; padding-left: 80px; padding-right: 80px; background: #F4F4F4; flex-direction: column; justify-content: center; align-items: flex-start; display: flex">
            <div style="align-self: stretch; justify-content: center; align-items: flex-start; gap: 5px; display: inline-flex">
              <div style="text-align: center; color: #004618; font-size: 24px; font-family: Raleway; font-weight: 700; line-height: 28.80px; word-wrap: break-word">Veja mais</div>
              <div style="padding-left: 5px; padding-right: 5px; padding-top: 11px; padding-bottom: 11px; flex-direction: column; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
              </div>
            </div>
          </div>

        </div>

      </div>
    </main>
  {% endblock %}