{% extends "acesso.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/style_cadastro.css') }}">
<title>Cadastro</title>
{% endblock %}

{% block content %}
    <div class="login-container">
        <div class="login-form">

            <form method="POST" action="{{ url_for('cadastro') }}">
              <h1>Registre-se Agora</h1>
              <img class="usericon" id="usericon" src="{{ url_for('static', filename='img/icon_user.png')}}">
              <div class="form-group">
                  <label for="exampleFormControlInput1">Nome Completo*</label>
                  <input type="text" name="name" class="form-control" id="exampleFormControlInput1">
                </div>

              <div class="form-group">
                  <label for="exampleInputEmail1">Endereço de email*</label>
                  <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="usuario@dominio.com">
                </div>

                <div class="form-group">
                  <label for="exampleInputPassword1">Senha*</label>
                  <input type="password" name="password" class="form-control" id="exampleInputPassword1">
                </div>

                <div class="form-group">
                  <label for="exampleInputPassword1">Confirmar Senha*</label>
                  <input type="password" name="confirmPassword" class="form-control" id="exampleInputPassword1">
                </div>

                {% if warn != "" %}
                  <p style="color: red; font-weight: bolder; font-size: 15px;">{{warn}}</p>
                {% endif %}

                <button type="submit" class="btn btn-block btn-custom">Cadastrar</button>
                <p>Já possui cadastro? <a href="/login">Entre aqui</a></p>

            </form>
        </div>
    </div>

    <div class="banner"></div>
{% endblock %}
