{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/style_dados.css') }}">
<title>Dados</title>
{% endblock %} 

{% block content %}

<div class="bg-img min_width_hospital">
    <div class="escuro">
        <div class="conteudo__capa__texto m-4">
    
            <div class="style_letra_capa">
                Encontre a Clínica ou Hospital para Hemodiálise <br> Pediátrica mais próxima de você
            </div>

            <div class="button_forma">
                <div class="letra_button">Procurar</div>
            </div>

        </div>
    </div>
</div>

<section class="conteudo">
    <div class="conteudo__titulo">
        Crianças em Hemodiálise
    </div>

  <div id="columnchart_values" style="width: 900px; height: 300px;"></div>
    <div class="conteudo__texto">
        A Doença Renal Crônica (DRC) é relativamente rara em crianças, com uma incidência anual de 5 a 15 pacientes por milhão na população infantil. Em um censo publicado em janeiro de 2006 pela Sociedade Brasileira de Nefrologia, estima-se que há 70.872 pacientes em modalidades dialíticas no país, e, destes, 1.153 são pacientes com idade menor que 18 anos.    </div>
        
    <div class="conteudo__titulo">
        Fila de Transplante
    </div>
    <div class="conteudo__texto">
        Das 66.273 pessoas que aguardam por um transplante no Brasil, 1.477 são crianças e adolescentes de 0 a 17 anos. A maioria (62%) aguarda por córneas, enquanto 24,2% estão na espera por rins. As informações são do Ministério da Saúde, com dados do Sistema Nacional de Transplantes (SNT). Em 2020, foram realizados no Brasil 242 transplantes de rim em crianças, sendo dez de doadores vivos e 232 de doadores falecidos.    
    </div>
    <div class="conteudo__titulo">
        Tratamento Conservador
    </div>
    <div class="conteudo__texto">
        Tratamento conservador é o tratamento realizado por meio de orientações importantes, medicamentos e dieta, visando conservar a função dos rins que já têm perda crônica e irreversível, tentando evitar, o máximo possível, o início da diálise - tratamento realizado para substituir algumas das funções dos rins. O tratamento conservador consiste em todas as medidas clínicas (remédios, modificações na dieta e estilo de vida) que podem ser utilizadas para retardar a piora da função renal, reduzir os sintomas e prevenir complicações ligadas à doença renal crônica.    
    </div>
    <div class="conteudo__titulo">
        Mortalidade em Crianças com Doença Crônica Renal
    </div>
    <div class="conteudo__texto">
        A taxa de mortalidade em crianças portadoras de DRC em tratamento dialítico é 30 a 150% maior do que a da população pediátrica geral e a expectativa de vida para uma criança de zero a quatorze anos em diálise é de somente 20 anos.    </div>

        
    </section>


{% endblock %}