{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/style_dados.css') }}">
<title>Dados</title>
{% endblock %} 

{% block content %}

<div class="bg-img min_width">
    <div class="escuro">
        <div class="conteudo__capa__texto m-4">
    
            <div class="style_letra_capa">
                Encontre a Clínica ou Hospital para Hemodiálise <br> Pediátrica mais próxima de você
            </div>

           <a href="/hospital" style="text-decoration: none;">
                <div class="button_forma">
                    <div class="letra_button">Procurar</div>
                </div>
            </a>
        </div>
    </div>
</div>

<section class="conteudo perguntas mt-3">
    <div class="conteudo__titulo">
        DRC Atualmente
    </div>

    <div class="conteudo__texto">
        A Doença Renal Crônica (DRC) nos dias atuais é uma preocupação crescente, afetando uma parcela significativa de crianças. Não impactando somente a saúde das mesmas, mas também representa um desafio significativo para suas famílias.
    </div>
    <div class="conteudo__texto">
        A falta de conscientização e recursos adequados para o diagnóstico precoce e tratamento eficaz é uma questão urgente. Muitas vezes, as crianças com DRC e suas famílias enfrentam barreiras de acesso a serviços médicos especializados, agravando a situação. 
    </div>
</section>


<section class="conteudo perguntas">
    <div class="conteudo__titulo text-center">
        Regiões que mais Transplantam no País
    </div>

    <img class="grafico" src="{{url_for('static', filename='img/dados_imgs/grafico_transplante.jpeg')}}">

        <div class="conteudo__texto">
            O gráfico de transplante de rim no Brasil entre janeiro e junho de 2023 apresenta uma visão abrangente da distribuição dessa atividade pelos estados. São Paulo lidera com um total de 926 transplantes, dos quais 183 foram de doadores vivos e 743 de doadores falecidos. Este estado destaca-se como um polo significativo para a realização desses procedimentos.
        </div>
        <div class="conteudo__texto">
            Por outro lado, Alagoas registra o menor índice, com apenas 2 transplantes no mesmo período, ambos provenientes de doadores falecidos. Esta disparidade entre estados sugere variações significativas na disponibilidade de órgãos e recursos médicos especializados.
        </div>
        <div class="conteudo__texto">
            No período total do semestre, o Brasil realizou um total de 2.847 transplantes de rim. Destes, 382 foram de doadores vivos e 2.465 de doadores falecidos.
        </div>
</section>


<section class="conteudo perguntas">
    <div class="conteudo__titulo text-center">
        Número de Crianças em Fila de Transplante no Brasil por Estado
    </div>

    <img class="grafico" src="{{url_for('static', filename='img/dados_imgs/grafico_espera.png')}}">

        <div class="conteudo__texto">
            O gráfico sobre Pacientes Ativos em Lista de Espera de Rim no Brasil destaca uma disparidade significativa nos números entre os estados. São Paulo lidera, com 16.225 pacientes adultos e 178 pacientes pediátricos aguardando um transplante renal. Esse número expressivo ressalta a necessidade urgente de órgãos nessa região.
        </div>
        <div class="conteudo__texto">
            Minas Gerais aparece em segundo lugar, com 2.986 pacientes adultos e 145 pediátricos em lista de espera. Essa discrepância em relação a São Paulo destaca as variações nas demandas por transplantes de rim em diferentes partes do país.
        </div>
        <div class="conteudo__texto">
            No contexto nacional, o total de pacientes adultos na lista de espera é de 31.541, indicando uma necessidade considerável por transplantes renais em todo o Brasil. Os 490 pacientes pediátricos também enfatizam a importância de políticas e recursos que atendam às necessidades específicas dessa população vulnerável, garantindo acesso equitativo aos transplantes de rim.
        </div>
</section>


<section class="conteudo perguntas mb-3">
    <div class="conteudo__titulo text-center">
        Índice de Ingressantes na Fila e Mortalidade no Brasil
    </div>

    <img class="grafico" src="{{url_for('static', filename='img/dados_imgs/grafico_mortalidade.jpeg')}}">

        <div class="conteudo__texto">
            O gráfico sobre o Pacientes que Ingressaram na Lista de Espera de Rim e a Mortalidade no primeiro semestre de 2023 revela dados impactantes. São Paulo lidera com 3.540 novos pacientes adultos na lista de espera e 75 pacientes pediátricos, refletindo uma demanda expressiva por transplantes renais nessa região. No entanto, a mortalidade associada de 379 pacientes adultos e 5 pacientes pediátricos, embora relativamente baixa em comparação ao ingresso, destaca a urgência em acelerar o processo de transplante.
        </div>
        <div class="conteudo__texto">
            No geral, o Brasil registrou um ingresso total de 7.254 pacientes adultos e 158 pacientes pediátricos na lista de espera de rim durante o primeiro semestre de 2023. No entanto, a mortalidade de 831 pacientes adultos e 10 pediátricos ressalta a importância crítica de otimizar a eficiência do processo de transplante para garantir resultados positivos para aqueles que estão aguardando esse procedimento vital.
        </div>
</section>



{% endblock %}