{% extends 'acesso.html' %}

{% block style %}
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='style/style_esqueceu_senha.css') }}">
      <title>{{title}}</title>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="login-container col-12 col-lg-6">
            <div class="login-form col-12 col-xl-6 mt-5">
                <form action="/esqueceu_senha" method="POST" >
                  <h1>Esqueceu a senha?</h1>
                    <p>Insira seu email para redefinir sua senha</p>
                    <div class="form-group">
                    <label for="email">Email*</label>
                    <input name="email" type="email" class="form-control" autocomplete="off" aria-describedby="emailHelp" placeholder="usuario@dominio.com">
              </div>
                    <button type="submit" class="btn btn-custom btn-block">Continuar</button>
                    <p><a href="/login">Voltar para o login</a></p>
                </form>
            </div>
        </div>

        <div class="banner d-none d-lg-block col-lg-6"></div>
    </div>

{% endblock %}