<!DOCTYPE html>
<html>
<head>
    <title>Post</title>
</head>
<body>
    <h1>Detalhes do Post</h1>
    <h2>{{ post[1] }}</h2>
    <p>{{ post[2] }}</p>
    <p>Data: {{ post[3] }}</p>
    <p>Usuário: {{ post[6] }}</p>

    <div class="comentario">
        <h2>Comentários</h2>
          <form action="/postagem" method="post">
  
            <label for="com_titulo">Título:</label>
            <input type="text" id="com_titulo" name="com_titulo" required><br>
  
            <label for="comentario">Seu comentario:</label>
            <textarea name="comentario" placeholder="Digite seu comentário aqui"></textarea><br>
            <input type="submit" value="comentar">
          </form>
        
        
          </div>
        
</body>
</html>