{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/gerenciamento_post_adm.css') }}" />
{% endblock %}

{% block content %}
<div class="container">
  <div class="row" style="min-height: 100vh;">
    <div class="col-md-9 mx-auto mt-5 mb-0" id="box_1">
      <div class="box-container">
        <form style="width: 100%;">
          <h2 style="color: #004618">Gerenciamento de Posts</h2>
          <p style="color: #374151">
            Gerencie os posts do jeito que precisar
          </p>
          <form action="/gerenciamento_post_adm" method="GET">
            <div class="formularios" style="display: flex; justify-content: start; flex-wrap: wrap;">

                <div style="display: flex; flex-direction: column; align-items: flex-start; margin-top: 20px;">
                    <p style="margin: 0;">Estado</p>
                    <select name="estado" class="form-select" aria-label="Default select example" style="display: flex; height: 45px; align-items: center;">
                        <option value="">Todos os Posts</option>
                        <option value="0">Pendentes</option>
                        <option value="1">Aprovados</option>
                    </select>

                    <input type="submit" value="Consultar" class="button_forma button_submit" style="margin-top: 10px;">

                </div>
            </div>
        </form>

          <ul class="list-unstyled">
            {% for post in posts %}
            <li class="mb-4">
              <div class="card">
                <div class="card-header">
                  <a href="/post/{{post[6]}}/{{post[1]}}">
                  <strong>{{ post[1] }}</strong>
                </div>
              </a>
                <div class="card-body d-flex justify-content-between align-items-start">
                  <div>
                    <p class="card-text">
                      <strong>Autor:</strong> {{ post[-1] }}<br>
                      <strong>Criado em:</strong> {{ post[3] }}<br>
                      <strong>Status:</strong>
                      {% if post[5] == 1 %}
                        <span class="badge badge-success" style="color: green;">Aprovado</span>
                      {% elif post[5] == 0 %}
                        <span class="badge badge-warning" style="color: yellow;">Pendente</span>
                      {% endif %}
                    </p>
                  </div>
                  <div class="text-right">
                    <div class="mt-3">
                    {% if post[5] == 0 %}
                        <button class="btn btn-outline-success" onclick="aprovarPost('{{ post[0] }}')">Aprovar Post</button>
                        <button class="btn btn-outline-danger" onclick="deleta_post('{{ post[0] }}')">Reprovar Post</button>
                      </div>
                    {% else%}
                        <button class="btn btn-outline-danger" onclick="deleta_post('{{ post[0] }}')">Deletar Post</button>
                    {% endif %}
                  </div>
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
          
          
        <h2> Denuncias </h2>
        {% for denuncia in denuncias %}
        <div class="comment-container">
          <p>{{denuncia[1]}}</p>
          <div class="button_forma">
            <button class="btn btn-outline-success" onclick="delete_comentario('{{ denuncia[0] }}')">Deletar comentário</button>
          </div>
          <div class="button_forma">
            <button class="btn btn-outline-danger" onclick="deleta_denuncia('{{ denuncia[0] }}')">Deletar denuncia</button>
          </div>
        </div>
          {% endfor %}
      </ul>


      <script>
        function aprovarPost(postId) {
            fetch(`/atualizar_status/${postId}`, {
                method: 'PUT',
            })
            .then(response => {
                if (response.ok) {
                    // Redireciona para a nova URL usando window.location.href
                    window.location.href = '/gerenciamento_post_adm';
                } else {
                    console.error('Erro ao aprovar post:', response.statusText);
                }
            })
            .catch(error => {
                console.error('Erro ao aprovar post:', error);
            });
        }
    
        function deleta_denuncia(com_id) {
            fetch(`/deletar_denuncia/${com_id}`, {
                method: 'PUT',
            })
            .then(response => {
                if (response.ok) {
                    window.location.href = '/gerenciamento_post_adm';
                } else {
                    console.error('Erro ao deletar denúncia:', response.statusText);
                }
            })
            .catch(error => {
                console.error('Erro ao deletar denúncia:', error);
            });
        }
    
        function deleta_post(postId) {
            fetch(`/deletar_post/${postId}`, {
                method: 'DELETE',
            })
            .then(response => {
                if (response.ok) {
                    window.location.href = '/gerenciamento_post_adm';
                } else {
                    console.error('Erro ao deletar postagem:', response.statusText);
                }
            })
            .catch(error => {
                console.error('Erro ao deletar postagem:', error);
            });
        }
    
        function delete_comentario(comID) {
            fetch(`/deletar_comentario/${comID}`, {
                method: 'DELETE',
            })
            .then(response => {
                if (response.ok) {
                    window.location.href = '/gerenciamento_post_adm';
                } else {
                    console.error('Erro ao deletar comentário:', response.statusText);
                }
            })
            .catch(error => {
                console.error('Erro ao deletar comentário:', error);
            });
        }
    </script>
    
    
      </form>
    </div>
  </div>
</div>
</div>

{% endblock %}