{% extends "base.html" %} {% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/style_hospital.css') }}">
{% endblock %} {% block content %}


        <img style="width: 100%; height: 100%" src="{{ url_for('static', filename='img/foto_hospital.png') }}" />
            <div class="conteudo__capa__texto">

                    <div class="style_letra_capa">Encontre a Clínica ou Hospital para Hemodiálise <br> Pediátrica mais próxima de você</div>
                    <div class="button_forma">
                        <div class="letra_button">Procurar</div>
                 </div>
            </div>
        </div>
    </div>
    <div class="espaçamento_blocos">
        <div class="bloco_clinicas">
            <div class="titulo_clinica  ">
                <div class="style_titulo">Clínicas e Hospitais para Hemodiálise</div>
                <div class="style_subtitulo">Encontre a Clínica ou Hispital mais próximo de você!</div>
            </div>
            <div class="espaçamento_pesquisa">
                <div class="formato_pesquisa">
                    <div><span class="titulo_pesquisa">Estado</span><span class="complemento_pesquisa">*</span></div>
                    <div class="borda_pesquisa">
                        <input type="text" name="name" class="formato_pesquisa" id="exampleFormControlInput1" placeholder="São Paulo">

                    </div>
                </div>
                <div class="formato_pesquisa">
                    <div><span class="titulo_pesquisa">Cidade</span><span class="complemento_pesquisa">*</span></div>
                    <div class="borda_pesquisa">
                        <input type="text" name="name" class="formato_pesquisa" id="exampleFormControlInput1" placeholder="São José dos Campos">
                    </div>
                </div>
                <div class="formato_pesquisa">
                    <div><span class="titulo_pesquisa">Preferência</span><span class="complemento_pesquisa">*</span></div>
                    <div class="borda_pesquisa">
                        <input type="text" name="name" class="formato_pesquisa" id="exampleFormControlInput1" placeholder="Atende Criança Abaixo de 10kg">

                    </div>
                </div>
            </div>
            <div class="formato_texto">
                <div class="espaçamento_titulo_hospital">
                    <div class="espaço_titulo">
                        <div class="style_letra">Nome</div>
                        <div class="style_letra">Endereço</div>
                            <div class="espaço_titulo_telefone">
                                <div class="style_letra">Telefone</div>
                                <div class="style_letra_vernomap">Ver no Maps</div>
                            </div>
                    </div>
                </div>
                <div class="nome_hospital">
                    <div class="espaço_hospital_endereço">
                        <div class="style_letra_hospital">Fundacao Antonio Prudente</div>
                    </div>
                    <div class="espaço_hospital_endereço">
                        <div class="style_letra_hospital">Rua Professor Antonio Prudente 211, Liberdade - SP, CEP: 01509900</div>
                    </div>
                    <div class="espaço_numero">
                        <div class="style_numero">(11) 21895220</div>
                    </div>
                    <div >
                        <div class="icone_img">
                            <div class="posiçao_icone">
                                <img src="{{ url_for('static', filename='img/map_ping.png') }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nome_hospital">
                    <div class="espaço_hospital_endereço">
                        <div class="style_letra_hospital">Associacao Dos Funcionarios Publicos Do Esp Santo</div>
                    </div>
                    <div class="espaço_hospital_endereço">
                        <div class="style_letra_hospital">Rua Pedro Palacio, 155, Cidade Alta - ES, CEP:  29015160</div>
                    </div>
                    <div class="espaço_numero">
                        <div class="style_numero">(27) 3232-5708</div>
                    </div>
                    <div>
                        <div class="icone_img">
                            <div class="posiçao_icone">
                                <img src="{{ url_for('static', filename='img/map_ping.png') }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nome_hospital">
                    <div class="espaço_hospital_endereço">
                        <div class="style_letra_hospital">Fundacao Antonio Prudente</div>
                    </div>
                    <div class="espaço_hospital_endereço">
                        <div class="style_letra_hospital">Rua Professor Antonio Prudente 211, Liberdade - SP, CEP: 01509900</div>
                    </div>
                    <div class="espaço_numero">
                        <div class="style_numero">(11) 21895220</div>
                    </div>
                    <div >
                        <div class="icone_img">
                            <div class="posiçao_icone">
                                <img src="{{ url_for('static', filename='img/map_ping.png') }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nome_hospital">
                    <div class="espaço_hospital_endereço">
                        <div class="style_letra_hospital">Associacao Dos Funcionarios Publicos Do Esp Santo</div>
                    </div>
                    <div class="espaço_hospital_endereço">
                        <div class="style_letra_hospital">Rua Pedro Palacio, 155, Cidade Alta - ES, CEP:  29015160</div>
                    </div>
                    <div class="espaço_numero">
                        <div class="style_numero">(27) 3232-5708</div>
                    </div>
                    <div >
                        <div class="icone_img">
                            <div class="posiçao_icone">
                                <img src="{{ url_for('static', filename='img/map_ping.png') }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nome_hospital">
                    <div class="espaço_hospital_endereço">
                        <div class="style_letra_hospital">Fundacao Antonio Prudente</div>
                    </div>
                    <div class="espaço_hospital_endereço">
                        <div class="style_letra_hospital">Rua Professor Antonio Prudente 211, Liberdade - SP, CEP: 01509900</div>
                    </div>
                    <div class="espaço_numero">
                        <div class="style_numero">(11) 21895220</div>
                    </div>
                    <div >
                        <div class="icone_img">
                            <div class="posiçao_icone">
                                <img src="{{ url_for('static', filename='img/map_ping.png') }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nome_hospital">
                    <div class="espaço_hospital_endereço">
                        <div class="style_letra_hospital">Associacao Dos Funcionarios Publicos Do Esp Santo</div>
                    </div>
                    <div class="espaço_hospital_endereço">
                        <div class="style_letra_hospital">Rua Pedro Palacio, 155, Cidade Alta - ES, CEP:  29015160</div>
                    </div>
                    <div class="espaço_numero">
                        <div class="style_numero">(27) 3232-5708</div>
                    </div>
                    <div >
                        <div class="icone_img">
                            <div class="posiçao_icone">
                                <img src="{{ url_for('static', filename='img/map_ping.png') }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nome_hospital">
                    <div class="espaço_hospital_endereço">
                        <div class="style_letra_hospital">Fundacao Antonio Prudente</div>
                    </div>
                    <div class="espaço_hospital_endereço">
                        <div class="style_letra_hospital">Rua Professor Antonio Prudente 211, Liberdade - SP, CEP: 01509900</div>
                    </div>
                    <div class="espaço_numero">
                        <div class="style_numero">(11) 21895220</div>
                    </div>
                    <div >
                        <div class="icone_img">
                            <div class="posiçao_icone">
                                <img src="{{ url_for('static', filename='img/map_ping.png') }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nome_hospital">
                    <div class="espaço_hospital_endereço">
                        <div class="style_letra_hospital">Associacao Dos Funcionarios Publicos Do Esp Santo</div>
                    </div>
                    <div class="espaço_hospital_endereço">
                        <div class="style_letra_hospital">Rua Pedro Palacio, 155, Cidade Alta - ES, CEP:  29015160</div>
                    </div>
                    <div class="espaço_numero">
                        <div class="style_numero">(27) 3232-5708</div>
                    </div>
                    <div >
                        <div class="icone_img">
                            <div class="posiçao_icone">
                                <img src="{{ url_for('static', filename='img/map_ping.png') }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nome_hospital">
                    <div class="espaço_hospital_endereço">
                        <div class="style_letra_hospital">Fundacao Antonio Prudente</div>
                    </div>
                    <div class="espaço_hospital_endereço">
                        <div class="style_letra_hospital">Rua Professor Antonio Prudente 211, Liberdade - SP, CEP: 01509900</div>
                    </div>
                    <div class="espaço_numero">
                        <div class="style_numero">(11) 21895220</div>
                    </div>
                    <div >
                        <div class="icone_img">
                            <div class="posiçao_icone">
                                <img src="{{ url_for('static', filename='img/map_ping.png') }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nome_hospital">
                    <div class="espaço_hospital_endereço">
                        <div class="style_letra_hospital">Associacao Dos Funcionarios Publicos Do Esp Santo</div>
                    </div>
                    <div class="espaço_hospital_endereço">
                        <div class="style_letra_hospital">Rua Pedro Palacio, 155, Cidade Alta - ES, CEP:  29015160</div>
                    </div>
                    <div class="espaço_numero">
                        <div class="style_numero">(27) 3232-5708</div>
                    </div>
                    <div >
                        <div class="icone_img">
                            <div class="posiçao_icone">
                                <img src="{{ url_for('static', filename='img/map_ping.png') }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Parte inferior para trocar de página(por enquanto sem estar funcional) -->
        <div style="align-self: stretch; height: 66px; flex-direction: column; justify-content: center; align-items: center; gap: 10px; display: flex">
            <div style="padding-top: 13px; padding-bottom: 13px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
                <div style="align-self: stretch; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
                    <div style="width: 20px; height: 20px; position: relative">
                        <div style="width: 20px; height: 20px; left: 0px; top: 0px; position: absolute"></div>
                        <div style="width: 6.25px; height: 12.50px; left: 6.25px; top: 3.75px; position: absolute; border: 2px #374151 solid"></div>
                    </div>
                    <div style="width: 40px; height: 40px; background: #004618; border-radius: 10px; overflow: hidden; border: 1px #BFBFBF solid; flex-direction: column; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
                        <div style="color: #F4F4F4; font-size: 16px; font-family: Cabin; font-weight: 400; word-wrap: break-word">1</div>
                    </div>
                    <div style="width: 40px; height: 40px; background: #F4F4F4; border-radius: 10px; overflow: hidden; border: 1px #BFBFBF solid; flex-direction: column; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
                        <div style="width: 12px; color: #374151; font-size: 16px; font-family: Cabin; font-weight: 400; word-wrap: break-word">2</div>
                    </div>
                    <div style="width: 40px; height: 40px; background: #F4F4F4; border-radius: 10px; overflow: hidden; border: 1px #BFBFBF solid; flex-direction: column; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
                        <div style="width: 12px; color: #374151; font-size: 16px; font-family: Cabin; font-weight: 400; word-wrap: break-word">3</div>
                    </div>
                    <div style="width: 40px; height: 40px; background: #F4F4F4; border-radius: 10px; overflow: hidden; border: 1px #BFBFBF solid; flex-direction: column; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
                        <div style="width: 14px; color: #374151; font-size: 16px; font-family: Cabin; font-weight: 400; word-wrap: break-word">4</div>
                    </div>
                    <div style="width: 20px; height: 20px; position: relative">
                        <div style="width: 20px; height: 20px; left: 0px; top: 0px; position: absolute"></div>
                        <div style="width: 6.25px; height: 12.50px; left: 7.50px; top: 3.75px; position: absolute; border: 2px #374151 solid"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}