{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/style_hospital.css') }}">
{% endblock %} 

{% block content %}

<div class="bg-img min_width_hospital">
    <div class="escuro">
        <div class="conteudo__capa__texto m-4">
    
            <div class="style_letra_capa">
                Encontre a Clínica ou Hospital para Hemodiálise <br> Pediátrica mais próxima de você
            </div>

            <div class="button_forma">
                <div class="letra_button">Procurar</div>
            </div>

        </div>
    </div>
</div>

<div class="divgeral min_width_hospital" style="margin-top: 30px; margin-bottom: 30px">

    <div class="divinterna" style="margin-top: 30px; margin-bottom: 30px; overflow: auto;">

        <div class="d-flex text-start flex-column">
            <p class="fs-2 fw-semibold" style="color: #004618; margin: 0;">Clínicas e Hospitais para Hemodiálise</p>
            <p class="fs-6">Encontre a Clínica ou Hospital mais próximo de você!</p>
        </div>

        <form action="/hospital" method="POST">
            <div class="formularios" style="display: flex; justify-content: start; flex-wrap: wrap;">

                <div style="display: flex; flex-direction: column; align-items: flex-start; margin-top: 20px;">
                    <p style="margin: 0;">Estado</p>
                    <select name="estado" class="form-select" aria-label="Default select example" style="display: flex; width: 350px; height: 45px; align-items: center;">
                        <option selected>Selecione o Estado</option>
                        <option value="Acre">Acre</option>
                        <option value="Alagoas">Alagoas</option>
                        <option value="Amapá">Amapá</option>
                        <option value="Amazonas">Amazonas</option>
                        <option value="Bahia">Bahia</option>
                        <option value="Ceará">Ceará</option>
                        <option value="Espírito Santo">Espírito Santo</option>
                        <option value="Goiás">Goiás</option>
                        <option value="Maranhão">Maranhão</option>
                        <option value="Mato Grosso">Mato Grosso</option>
                        <option value="Mato Grosso do Sul">Mato Grosso do Sul</option>
                        <option value="Minas Gerais">Minas Gerais</option>
                        <option value="Pará">Pará</option>
                        <option value="Paraíba">Paraíba</option>
                        <option value="Paraná">Paraná</option>
                        <option value="Pernambuco">Pernambuco</option>
                        <option value="Piauí">Piauí</option>
                        <option value="Rio de Janeiro">Rio de Janeiro</option>
                        <option value="Rio Grande do Norte">Rio Grande do Norte</option>
                        <option value="Rio Grande do Sul">Rio Grande do Sul</option>
                        <option value="Rondônia">Rondônia</option>
                        <option value="Roraima">Roraima</option>
                        <option value="Santa Catarina">Santa Catarina</option>
                        <option value="São Paulo">São Paulo</option>
                        <option value="Sergipe">Sergipe</option>
                        <option value="Tocantins">Tocantins</option>
                        <option value="Distrito Federal">Distrito Federal</option>

                    </select>

                    <div class="button_forma" style="margin-top: 10px;">
                        <input type="submit" class="fw-bold button_submit">
                    </div>

                </div>
            </div>
        </form>

        <table class="table table-lg table-with-padding-td table-with-padding-th" style="margin-top: 40px; border-collapse: separate;">
            <thead>
              <tr>
                <th scope="col">Nome</th>
                <th scope="col" class="d-none d-md-block">Responsável</th>
                <th scope="col">Telefone</th>
                <th scope="col">Email</th>
              </tr>
            </thead>
            <tbody>
            {% for hospital in estado %}
              <tr>
                <td scope="row" class="fw-normal">{{ hospital['Hospital'] }}</td>
                <td class="d-none d-md-block">{{ hospital['Resposavel'] }}</td>
                <td scope="row" class="fw-normal">{{ hospital['Telefone'] }}</td>
                <td>{{ hospital['Mail'] }}</td>
              </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

</div>



{% endblock %}