<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style/main.css">
    <title>{{title}}</title>
</head>
<body>
    <header class="navbar">
        <img class="navbar__logo" src="../static/img/logoph.png" alt="logo do site">
        <nav class="navbar__links">
            <a class="navbar__links__link" href="">Início</a>
            <a class="navbar__links__link" href="">Hospitais</a>
            <a class="navbar__links__link" href="">Dados gerais</a>
            <a class="navbar__links__link" href="">Blog</a>
            <a class="navbar__links__link" style="border-right: 1px solid #FFF; padding-right: 50px;" href="">Proadi-SUS</a>
            <a class="navbar__links__link" href="../templates/login.html">Entrar</a>
        </nav>
    </header>
    <main>

    </main>
    <footer>
        
    </footer>
</body>
</html>