{% extends "acesso.html" %}

{% block head %}
      <link rel="stylesheet" href="{{ url_for('static', filename='style/style_login.css') }}">
      <title>Login</title>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="login-container col-12 col-lg-6">
        <div class="login-form col-12 col-xl-6">
            <form method="POST" action="{{ url_for('login') }}">
              <h1>Bem Vindo!</h1>
              <p>Insira seus dados para acessar sua conta.</p>
  
              <div class="form-group">
                <label for="exampleInputEmail1">Email*</label>
                <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="usuario@dominio.com">
              </div>
  
              <div class="form-group">
                <label for="exampleInputPassword1">Senha*</label>
                <input name="password" type="password" class="form-control" id="exampleInputPassword1">
                <p><a href="/esqueceu_senha">Esqueceu sua senha?</a></p>
              </div>
  
              {% if warn != "" %}
                <p style="color: red; font-weight: bolder; font-size: 15px;">{{warn}}</p>
              {% endif %}
  
              <button type="submit" class="btn btn-custom btn-block">Entrar</button>
              <div class="d-flex flex-column align-items-center mt-3">
                <p>Ainda não tem uma conta? <a class="hyperlink" href="/cadastro">Registre-se</a></p>
              </div>
            </form>
        </div>
    </div>
    
    <div class="banner d-none d-lg-block col-lg-6"></div>
  </div>
</div>

{% endblock %}