{% extends "base.html" %} {% block style %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='style/meus_posts.css') }}"
/>
{% endblock %} {% block content %}
<div class="container">
    <div class="row">
      <div class="col-md-9 mx-auto mt-5 mb-0" id="box_1">
        <div class="box-container">
          <form style="width: 100%;">
            <h2 style="color: #004618">Meus Posts</h2>
            <p style="color: #374151">
                Veja seus posts
            </p>

    <ul>
      {% for post in posts %}
          <a href="/post/{{ post[6]}}/{{ post[1] }}"><li style="flex-flow: row !important;">
            <table class="table table-light table-bordered align-middle text-center" style="margin-top: 40px; border-collapse: separate;">
              <thead>
                <tr class="table-secondary table-bordered align-middle text-center">
                  <th class="col-lg-6">Título</th>
                  <th>Criado em</th>
                  <th>Status</th>
                </tr>
                <tr class="table table-bordered align-middle text-center">
                  <th scope="col"><a href="/post/{{post[6]}}/{{ post[1] }}">{{ post[1] }}</a></th>
                  <th scope="col">{{ post[3] }}</th>
                  <th scope="col">
                    {% if post[5] == 1 %}
                        <p class="aprovado">Aprovado</p>
                    {% elif post[5] == 0 %}
                        <p class="pendente">Pendente</p>
                    {% endif %}
                </th>
                </tr>
              </thead>
            </table>
          </a>
      {% endfor %}
  </ul>

  <script>
      function atualizarStatus(postId) {
          fetch(`/atualizar_status/${postId}`, {
              method: 'GET',
          })
      }
      </script>
    </form>
</div>
      </div>
    </div>
  </div>

{% endblock %}