{% extends "base.html" %} {% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/style_perfil.css') }}">
{% endblock %} {% block content %}
<div class="content">
  <div class="container">
    <div class="forma">
      <div class="header_h1">
        <div class="header_p">
          <div class="titulo">Informações do Perfil</div>
          <div class="texto">Atualize as informações de perfil e endereço de e-mail da sua conta</div>
        </div>
        <div class="foto_perfil">
            <img src="{{ url_for('exibir_imagem') }}" alt="Imagem">
        </div>
        <div class="input">
          <div class="form_name">Nome</div>
          <input type="text" name="name" class="form-control" id="exampleFormControlInput1">
          <div class="coluna"></div>
        </div>
        <div class="input">
          <div class="form_name">Email</div>
          <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="usuario@dominio.com">
          <div class="coluna">

          </div>
        </div>
        <div class="button_save">
          <button type="submit" class="btn btn-block btn-custom">Salvar</button>
        </div>
      </div>
    </div>
    <div class="forma" >
      <div class="button_form_save">
        <div class="form_atualizacao">
          <div class="titulo">Atualizar Senha</div>
          <div class="texto">Certifique-se de que sua conta esteja usando uma senha longa e aleatória para permanecer segura</div>
        </div>
        <div class="form_senha">
          <div class="form_name">Senha Atual</div>
          <input type="text" name="name" class="form-control" id="exampleFormControlInput1">
          <div>
          </div>
        </div>
        <div class="form_senha">
          <div class="form_name">Nova Senha</div>
          <input type="text" name="name" class="form-control" id="exampleFormControlInput1">
          <div class="coluna">
            <div></div>
            <div style="width: 20px; height: 13.33px; background: white"></div>
          </div>
        </div>
        <div class="form_senha">
          <div class="form_name">Confirme sua Nova Senha</div>
          <input type="text" name="name" class="form-control" id="exampleFormControlInput1">
          <div class="coluna">
      
          </div>
        </div>
        <div class="button_save">
          
          <button type="submit" class="btn btn-block btn-custom">Salvar</button>
        </div>
      </div>
    </div>
    <div class="forma1">
      <div class="deletar_conta">
        <div class="form_deletar">
          <div class="titulo">Deletar Conta</div>
          <div class="texto">Depois que sua conta for excluida, todos os seus recursos e dados serão excluidos permanentemente. Antes de excluir sua conta, baixe todos os dados ou informações que deseja reter.</div>
        </div>
        <div class="button_deletar">   
            <button type="submit" class="btn btn-block btn-custom" style="background-color: #D50C0C; color: white;">Deletar Conta</button>


          
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}