{% extends "base.html" %} {% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/style_perfil.css') }}">

{% endblock %} {% block content %}
<div class="container" >
  <div class="row">
    <div class="col-md-6 mx-auto" id="box_1">
      <div class="box-container" >
        <h2 style="color: #004618;">Informações do Perfil</h2>
        <p style="color: #374151;">Atualize as informações de perfil e endereço de e-mail da sua conta</p>
        <img src="{{ url_for('static', filename='img/foto_de_perfil.png') }}" alt="Imagem" class="img-responsive">
        <label class="form-label" for="">Nome</label>
        <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" disabled>
        <label class="form-label" for="">Email</label>
        <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="usuario@dominio.com" disabled>   
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="box-container">
        <h2 style="color: #004618;">Atualizar Senha</h2>
        <p style="color: #374151;">Certifique-se de que sua conta esteja usando uma senha longa e aleatória para
          permanecer segura</p>
        <label class="form-label" for="">Senha Atual</label>
        <input name="password" type="password" class="form-control" id="exampleInputPassword1">
        <label class="form-label" for="">Nova Senha</label>
        <input name="password" type="password" class="form-control" id="exampleInputPassword1">
        <label class="form-label" for="">Confirmar Nova Senha</label>
        <input name="password" type="password" class="form-control" id="exampleInputPassword1">
        <div class="d-grid gap-2 col-12 mx-auto">
          <button type="button" class="btn btn-success" style="background-color: #004619 !important;">Salvar</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="box-container">
        <h2>Deletar Conta</h2>
        <p>Depois que sua conta for excluida, todos os seus recursos e dados serão excluidos permanentemente. Antes de
          excluir sua conta, baixe todos os dados ou informações que deseja reter.</p>
            <button type="submit" class="btn btn-block btn-custom" style="background-color: #D50C0C; color: white; width: 100%;">Deletar Conta</button>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}