{% extends "base.html" %} {% block style %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='style/style_postagem.css') }}"
/>
{% endblock %} {% block content %}
<main>
  <div class="flex-main">
    <div><h1>{{ post[1] }}</h1></div>
    <div class="capa">
      <img src="../../static/img/post_uploads/post_{{post[0]}}.png"  class="capa_img" alt="capa" />
    </div>
    <div><p>{{ post[2] }}</p></div>
    <div class="flex-comment">
      <br />
      <div class="flex-dados">
        <div>
          <p style="color: gray">Data: {{ post[3] }}</p>
          <p style="color: gray">Usuário: {{ post[6] }}</p>
        </div>
      </div>
    </div>
    <div class="flex-commentbox">
      <div><h2>Comentários</h2></div>
      <div>
        <form action="/post/{{ post[5]}}/{{ post[1] }}" method="post">
            <label for="comentario"></label>
            <textarea
              class="form-control"
              placeholder="Digite seu comentario aqui"
              style="height: 100px"
              id="comentario"
              name="comentario"
              required
            ></textarea>
            
          </div>
          <div class="flex-buttons">
            <div class="btn-content">
              <button
                class="d-inline btn btn-outline-secondary btn-custom2"
                type="button"
              >
                Cancelar
              </button>
            </div>
            <div class="btn-content">
              <input type="submit" value="Comentar" class="btn btn-success btn-custom1">
            </div>
          </form>
          </div>
          {% for comentario in comentarios %}
            {% if comentario[2] == post[0] %}
              <p>{{comentario[4]}}</p>
              <p>{{comentario[0]}}</p>
              <p>Data: {{comentario[1]}}</p>
            {% endif %}
          {% endfor %}
      </div>
    </div>
  </div>
  <br />
</main>
{% endblock %}
