{% extends "base.html" %} {% block style %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='style/style_postagem.css') }}"
/>
{% endblock %} {% block content %}
    <main>
      <div class="flex-main">
      <div><h1>Título da postagem</h1></div>
      <div><p>Área de descrição da postagem</p></div>
      <div class="capa">
        <img src="../static/img/gray.png" class="capa_img" alt="capa">
      </div>
      <div class="flex-comment">
        <br>
        <div class="flex-dados">
          <div>
            <img src="../static/img/gray.png" style="width: 5rem; border-radius: 50px;">
          </div>
          <div>
            <h2>Nome</h2>
            <p>Informação 1</p>
            <p>Informação 2</p>
          </div>
        </div>
      </div>
      <div class="flex-commentbox">
        <div><h2>Comentários</h2></div>
        <div>
          <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
            <label for="floatingTextarea">Digite seu comentário</label>
          </div>
          <div class="flex-buttons">
            <div>
              <button class="btn btn-outline-secondary" type="button">Cancelar</button>
            </div>
            <div>
              <button class="btn btn-success" type="button">Enviar</button>
            </div>
          </div>
        </div>
      </div>
      </div>
      <br>
    </main>
  {% endblock %}
