{% extends "base.html" %} {% block style %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='style/style_post.css') }}"
/>
{% endblock %} {% block content %}
<main style="margin-top: 56.16px">
    <div
      style="
        align-self: stretch;
        height: 1384.21px;
        padding-top: 30px;
        padding-bottom: 30px;
        background: #f4f4f4;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 45px;
        display: flex;
      "
    >
      <div
        style="
          height: 716.37px;
          flex-direction: column;
          justify-content: flex-end;
          align-items: flex-start;
          gap: 25px;
          display: flex;
        "
      >
        <div
          style="
            align-self: stretch;
            color: #004618;
            font-size: 14px;
            font-family: Roboto;
            font-weight: 400;
            line-height: 16.8px;
            word-wrap: break-word;
          "
        >
          Blog > Saúde
        </div>
        <div
          style="
            align-self: stretch;
            height: 191.37px;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            gap: 15px;
            display: flex;
          "
        >
          <div
            style="
              align-self: stretch;
              color: #111827;
              font-size: 32px;
              font-family: Raleway;
              font-weight: 700;
              line-height: 38.4px;
              word-wrap: break-word;
            "
          >
            Clinica de hemodiálise abre no interior do Nordeste
          </div>
          <div
            style="
              align-self: stretch;
              color: #374151;
              font-size: 14px;
              font-family: Roboto;
              font-weight: 400;
              line-height: 16.8px;
              word-wrap: break-word;
            "
          >
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
            mollis eleifend ultricies. Sed non posuere lacus, sed vehicula arcu.
            Sed ac scelerisque ipsum. Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Praesent mollis eleifend ultricies. Sed non posuere
            lacus, sed vehicula arcu. Sed ac scelerisque ipsum.
          </div>
          <div
            style="
              align-self: stretch;
              color: #374151;
              font-size: 14px;
              font-family: Roboto;
              font-weight: 400;
              line-height: 14px;
              word-wrap: break-word;
            "
          >
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
            mollis eleifend ultricies. Sed non posuere lacus, sed vehicula arcu.
            Sed ac scelerisque ipsum. Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Praesent mollis eleifend ultricies. Sed non posuere
            lacus, sed vehicula arcu. Sed ac scelerisque ipsum.
          </div>
          <div
            style="
              justify-content: flex-start;
              align-items: center;
              gap: 15px;
              display: inline-flex;
            "
          >
            <div style="width: 12.48px; height: 12.48px; position: relative">
              <div
                style="
                  width: 12.48px;
                  height: 12.48px;
                  left: 0px;
                  top: 0px;
                  position: absolute;
                  background: #7c7c7c;
                "
              ></div>
            </div>
            <div style="width: 15.37px; height: 15.37px; position: relative">
              <div
                style="
                  width: 12.48px;
                  height: 12.44px;
                  left: 1.44px;
                  top: 1.44px;
                  position: absolute;
                  background: #7c7c7c;
                "
              ></div>
            </div>
            <div style="width: 12.48px; height: 12.48px; position: relative">
              <div
                style="
                  width: 12.48px;
                  height: 12.48px;
                  left: 0px;
                  top: 0px;
                  position: absolute;
                  background: #7c7c7c;
                "
              ></div>
            </div>
            <div style="width: 12.48px; height: 12.48px; position: relative">
              <div
                style="
                  width: 12.48px;
                  height: 12.48px;
                  left: 0px;
                  top: 0px;
                  position: absolute;
                  background: #7c7c7c;
                "
              ></div>
            </div>
            <div style="width: 15.37px; height: 15.37px; position: relative">
              <div
                style="
                  width: 13.45px;
                  height: 13.44px;
                  left: 0.48px;
                  top: 1.44px;
                  position: absolute;
                  background: #7c7c7c;
                "
              ></div>
            </div>
            <div style="width: 15.37px; height: 15.37px; position: relative">
              <div
                style="
                  width: 12.97px;
                  height: 11.52px;
                  left: 1.92px;
                  top: 2.4px;
                  position: absolute;
                  background: #7c7c7c;
                "
              ></div>
            </div>
          </div>
        </div>
        <img
          style="
            width: 833px;
            height: 381px;
            position: relative;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          "
          src="https://via.placeholder.com/833x381"
        />
        <div
          style="
            justify-content: center;
            align-items: center;
            gap: 10px;
            display: inline-flex;
          "
        >
          <img
            style="
              width: 47.5px;
              height: 47.5px;
              position: relative;
              border-radius: 23.75px;
              border: 0.47px #bfbfbf solid;
            "
            src="https://via.placeholder.com/47x47"
          />
          <div
            style="
              align-self: stretch;
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
              gap: 5px;
              display: inline-flex;
            "
          >
            <div
              style="
                color: #111827;
                font-size: 14px;
                font-family: Roboto;
                font-weight: 700;
                line-height: 14px;
                word-wrap: break-word;
              "
            >
              Patricia Neves
            </div>
            <div
              style="
                color: #7c7c7c;
                font-size: 12px;
                font-family: Roboto;
                font-weight: 400;
                line-height: 14.4px;
                word-wrap: break-word;
              "
            >
              Publicado em 15 de setembro de 2023 às, 08h00.
            </div>
            <div
              style="
                color: #7c7c7c;
                font-size: 12px;
                font-family: Roboto;
                font-weight: 400;
                line-height: 14.4px;
                word-wrap: break-word;
              "
            >
              Última atualização em 20 de setembro de 2023 às, 08h07.
            </div>
          </div>
        </div>
      </div>
      <div
        style="
          height: 562.84px;
          flex-direction: column;
          justify-content: center;
          align-items: flex-end;
          gap: 25px;
          display: flex;
        "
      >
        <div
          style="
            align-self: stretch;
            height: 157px;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            gap: 10px;
            display: flex;
          "
        >
          <div
            style="
              align-self: stretch;
              color: #111827;
              font-size: 24px;
              font-family: Raleway;
              font-weight: 700;
              line-height: 28.8px;
              word-wrap: break-word;
            "
          >
            Comentários
          </div>
          <div
            style="
              align-self: stretch;
              height: 68px;
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start;
              gap: 5px;
              display: flex;
            "
          >
            <div
              style="
                align-self: stretch;
                height: 68px;
                padding: 10px;
                border-radius: 10px;
                overflow: hidden;
                border: 1px #bfbfbf solid;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 10px;
                display: inline-flex;
              "
            >
              <div
                style="
                  flex: 1 1 0;
                  color: #9d9d9d;
                  font-size: 14px;
                  font-family: Roboto;
                  font-weight: 400;
                  line-height: 16.8px;
                  word-wrap: break-word;
                "
              >
                Digite seu comentário...
              </div>
            </div>
          </div>
          <div
            style="
              justify-content: flex-end;
              align-items: center;
              gap: 15px;
              display: inline-flex;
            "
          >
            <div
              style="
                width: 200px;
                height: 40px;
                padding-left: 30px;
                padding-right: 30px;
                padding-top: 10px;
                padding-bottom: 10px;
                border-radius: 10px;
                overflow: hidden;
                border: 1px #bfbfbf solid;
                justify-content: center;
                align-items: center;
                gap: 10px;
                display: flex;
              "
            >
              <div
                style="
                  color: #bfbfbf;
                  font-size: 14px;
                  font-family: Roboto;
                  font-weight: 700;
                  line-height: 14px;
                  word-wrap: break-word;
                "
              >
                Cancelar
              </div>
            </div>
            <div
              style="
                width: 200px;
                height: 40px;
                padding-left: 30px;
                padding-right: 30px;
                padding-top: 10px;
                padding-bottom: 10px;
                background: #004618;
                border-radius: 10px;
                overflow: hidden;
                justify-content: center;
                align-items: center;
                gap: 10px;
                display: flex;
              "
            >
              <div
                style="
                  color: white;
                  font-size: 14px;
                  font-family: Roboto;
                  font-weight: 700;
                  line-height: 14px;
                  word-wrap: break-word;
                "
              >
                Enviar
              </div>
            </div>
          </div>
        </div>
        <div
          style="
            align-self: stretch;
            height: 337.03px;
            padding: 20px;
            background: #f4f4f4;
            border-radius: 10px;
            overflow: hidden;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 25px;
            display: flex;
          "
        >
          <div
            style="
              align-self: stretch;
              height: 82.34px;
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
              gap: 5px;
              display: flex;
            "
          >
            <div
              style="
                align-self: stretch;
                height: 14px;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
                gap: 10.17px;
                display: flex;
              "
            >
              <div
                style="
                  color: #bfbfbf;
                  font-size: 12px;
                  font-family: Roboto;
                  font-weight: 400;
                  line-height: 14.4px;
                  word-wrap: break-word;
                "
              >
                20 de setembro de 2023
              </div>
            </div>
            <div
              style="
                align-self: stretch;
                justify-content: space-between;
                align-items: center;
                display: inline-flex;
              "
            >
              <div
                style="
                  flex: 1 1 0;
                  height: 63.34px;
                  justify-content: flex-start;
                  align-items: center;
                  gap: 10px;
                  display: flex;
                "
              >
                <div
                  style="
                    justify-content: flex-start;
                    align-items: center;
                    gap: 13.17px;
                    display: flex;
                  "
                >
                  <img
                    style="
                      width: 61.5px;
                      height: 61.5px;
                      position: relative;
                      border-radius: 39.18px;
                      border: 0.78px #bfbfbf solid;
                    "
                    src="https://via.placeholder.com/61x61"
                  />
                </div>
                <div
                  style="
                    flex: 1 1 0;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 10.17px;
                    display: inline-flex;
                  "
                >
                  <div
                    style="
                      color: #111827;
                      font-size: 14px;
                      font-family: Roboto;
                      font-weight: 700;
                      line-height: 14px;
                      word-wrap: break-word;
                    "
                  >
                    Ana Cláudia Ferreira
                  </div>
                  <div
                    style="
                      color: #374151;
                      font-size: 12px;
                      font-family: Roboto;
                      font-weight: 400;
                      line-height: 14.4px;
                      word-wrap: break-word;
                    "
                  >
                    Muito bom saber que o problema da falta de clínicas já está
                    sendo solucionado!
                  </div>
                  <div
                    style="
                      justify-content: center;
                      align-items: center;
                      gap: 15px;
                      display: inline-flex;
                    "
                  >
                    <div style="width: 15px; height: 15px; position: relative">
                      <div
                        style="
                          width: 10.35px;
                          height: 10.48px;
                          left: 2.5px;
                          top: 2.02px;
                          position: absolute;
                        "
                      >
                        <div
                          style="
                            width: 0px;
                            height: 6.25px;
                            left: 2.5px;
                            top: 4.23px;
                            position: absolute;
                            border: 0.87px #004618 solid;
                          "
                        ></div>
                        <div
                          style="
                            width: 10.35px;
                            height: 10.48px;
                            left: 0px;
                            top: 0px;
                            position: absolute;
                            border: 0.87px #004618 solid;
                          "
                        ></div>
                      </div>
                    </div>
                    <div style="width: 15px; height: 15px; position: relative">
                      <div
                        style="
                          width: 13.13px;
                          height: 11.72px;
                          left: 0.94px;
                          top: 2.34px;
                          position: absolute;
                          background: #ea1c24;
                        "
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            style="
              align-self: stretch;
              height: 82.34px;
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
              gap: 5px;
              display: flex;
            "
          >
            <div
              style="
                align-self: stretch;
                height: 14px;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
                gap: 10.17px;
                display: flex;
              "
            >
              <div
                style="
                  color: #bfbfbf;
                  font-size: 12px;
                  font-family: Roboto;
                  font-weight: 400;
                  line-height: 14.4px;
                  word-wrap: break-word;
                "
              >
                18 de setembro de 2023
              </div>
            </div>
            <div
              style="
                align-self: stretch;
                justify-content: space-between;
                align-items: center;
                display: inline-flex;
              "
            >
              <div
                style="
                  flex: 1 1 0;
                  height: 63.34px;
                  justify-content: flex-start;
                  align-items: center;
                  gap: 10px;
                  display: flex;
                "
              >
                <div
                  style="
                    justify-content: flex-start;
                    align-items: center;
                    gap: 13.17px;
                    display: flex;
                  "
                >
                  <img
                    style="
                      width: 61.5px;
                      height: 61.5px;
                      position: relative;
                      border-radius: 39.18px;
                      border: 0.78px #bfbfbf solid;
                    "
                    src="https://via.placeholder.com/61x61"
                  />
                </div>
                <div
                  style="
                    flex: 1 1 0;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 10.17px;
                    display: inline-flex;
                  "
                >
                  <div
                    style="
                      color: #111827;
                      font-size: 14px;
                      font-family: Roboto;
                      font-weight: 700;
                      line-height: 14px;
                      word-wrap: break-word;
                    "
                  >
                    Marcos Oliveira
                  </div>
                  <div
                    style="
                      color: #374151;
                      font-size: 12px;
                      font-family: Roboto;
                      font-weight: 400;
                      line-height: 14.4px;
                      word-wrap: break-word;
                    "
                  >
                    Obrigado pela informação! Me ajudou muito.
                  </div>
                  <div
                    style="
                      justify-content: center;
                      align-items: center;
                      gap: 15px;
                      display: inline-flex;
                    "
                  >
                    <div style="width: 15px; height: 15px; position: relative">
                      <div
                        style="
                          width: 10.35px;
                          height: 10.48px;
                          left: 2.5px;
                          top: 2.02px;
                          position: absolute;
                        "
                      >
                        <div
                          style="
                            width: 0px;
                            height: 6.25px;
                            left: 2.5px;
                            top: 4.23px;
                            position: absolute;
                            border: 0.87px #004618 solid;
                          "
                        ></div>
                        <div
                          style="
                            width: 10.35px;
                            height: 10.48px;
                            left: 0px;
                            top: 0px;
                            position: absolute;
                            border: 0.87px #004618 solid;
                          "
                        ></div>
                      </div>
                    </div>
                    <div style="width: 15px; height: 15px; position: relative">
                      <div
                        style="
                          width: 13.13px;
                          height: 11.72px;
                          left: 0.94px;
                          top: 2.34px;
                          position: absolute;
                          background: #ea1c24;
                        "
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            style="
              align-self: stretch;
              height: 82.34px;
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
              gap: 5px;
              display: flex;
            "
          >
            <div
              style="
                align-self: stretch;
                height: 14px;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
                gap: 10.17px;
                display: flex;
              "
            >
              <div
                style="
                  color: #bfbfbf;
                  font-size: 12px;
                  font-family: Roboto;
                  font-weight: 400;
                  line-height: 14.4px;
                  word-wrap: break-word;
                "
              >
                16 de setembro de 2023
              </div>
            </div>
            <div
              style="
                align-self: stretch;
                justify-content: space-between;
                align-items: center;
                display: inline-flex;
              "
            >
              <div
                style="
                  flex: 1 1 0;
                  height: 63.34px;
                  justify-content: flex-start;
                  align-items: center;
                  gap: 10px;
                  display: flex;
                "
              >
                <div
                  style="
                    justify-content: flex-start;
                    align-items: center;
                    gap: 13.17px;
                    display: flex;
                  "
                >
                  <img
                    style="
                      width: 61.5px;
                      height: 61.5px;
                      position: relative;
                      border-radius: 39.18px;
                      border: 0.78px #bfbfbf solid;
                    "
                    src="https://via.placeholder.com/61x61"
                  />
                </div>
                <div
                  style="
                    flex: 1 1 0;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 10.17px;
                    display: inline-flex;
                  "
                >
                  <div
                    style="
                      color: #111827;
                      font-size: 14px;
                      font-family: Roboto;
                      font-weight: 700;
                      line-height: 14px;
                      word-wrap: break-word;
                    "
                  >
                    Maria Clara
                  </div>
                  <div
                    style="
                      color: #374151;
                      font-size: 12px;
                      font-family: Roboto;
                      font-weight: 400;
                      line-height: 14.4px;
                      word-wrap: break-word;
                    "
                  >
                    Será muito necessário! Obrigada pela notícia.
                  </div>
                  <div
                    style="
                      justify-content: center;
                      align-items: center;
                      gap: 15px;
                      display: inline-flex;
                    "
                  >
                    <div style="width: 15px; height: 15px; position: relative">
                      <div
                        style="
                          width: 10.35px;
                          height: 10.48px;
                          left: 2.5px;
                          top: 2.02px;
                          position: absolute;
                        "
                      >
                        <div
                          style="
                            width: 0px;
                            height: 6.25px;
                            left: 2.5px;
                            top: 4.23px;
                            position: absolute;
                            border: 0.87px #004618 solid;
                          "
                        ></div>
                        <div
                          style="
                            width: 10.35px;
                            height: 10.48px;
                            left: 0px;
                            top: 0px;
                            position: absolute;
                            border: 0.87px #004618 solid;
                          "
                        ></div>
                      </div>
                    </div>
                    <div style="width: 15px; height: 15px; position: relative">
                      <div
                        style="
                          width: 13.13px;
                          height: 11.72px;
                          left: 0.94px;
                          top: 2.34px;
                          position: absolute;
                          background: #ea1c24;
                        "
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          style="
            align-self: stretch;
            justify-content: center;
            align-items: center;
            gap: 5px;
            display: inline-flex;
          "
        >
          <div style="flex: 1 1 0; height: 0px; border: 2px #004618 solid"></div>
          <div
            style="
              width: 185px;
              align-self: stretch;
              text-align: center;
              color: #004618;
              font-size: 14px;
              font-family: Roboto;
              font-weight: 400;
              line-height: 16.8px;
              word-wrap: break-word;
            "
          >
            Mostrar todos os comentários
          </div>
          <div
            style="
              padding-left: 3.09px;
              padding-right: 3.09px;
              padding-top: 6.79px;
              padding-bottom: 6.79px;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              gap: 6.18px;
              display: inline-flex;
            "
          >
            <div style="width: 9.57px; height: 5.22px; background: #004618"></div>
          </div>
          <div style="flex: 1 1 0; height: 0px; border: 2px #004618 solid"></div>
        </div>
      </div>
    </div>
</main>
  {% endblock %}