{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/style_proadi.css') }}">
<title>ProadiSUS</title>
{% endblock %} 

{% block content %}

<div class="bg-img min_width_hospital">
    <div class="escuro">
        <div class="conteudo__capa__texto m-4">
    
            <div class="style_letra_capa">
                Encontre a Clínica ou Hospital para Hemodiálise <br> Pediátrica mais próxima de você
            </div>

            <div class="button_forma">
                <div class="letra_button">Procurar</div>
            </div>

        </div>
    </div>
</div>

<div class="container text-center mt-4">
    <h1>O que é o ProadiSUS?</h1>
    <p class="lead">O Proadisus é um programa abrangente de saúde pública projetado para prevenir, diagnosticar e tratar a doença renal crônica. Ele foi desenvolvido com o objetivo de reduzir a prevalência da DRC e melhorar o acesso dos pacientes aos serviços de saúde necessários. </p>
    <p class="lead">Prevenção: O Proadisus promove a conscientização sobre os fatores de risco da DRC, como hipertensão arterial, diabetes, obesidade e histórico familiar da doença. Ele incentiva a adoção de hábitos de vida saudáveis, como uma dieta equilibrada, exercícios regulares e evitar o consumo excessivo de álcool e tabaco..</p>
    <p class="lead">Diagnóstico: O diagnóstico precoce da DRC é crucial para um tratamento eficaz. O Proadisus oferece exames de triagem gratuitos para identificar a presença de disfunção renal. Isso permite que os médicos intervenham mais cedo, antes que a doença progrida para estágios mais avançados.</p>
    <p class="lead">Tratamento: O programa Proadisus garante que os pacientes diagnosticados com DRC recebam o tratamento adequado, que pode incluir medicamentos, terapias de suporte e, em alguns casos, diálise ou transplante renal. O acesso a tratamento de qualidade é fundamental para controlar a progressão da doença.</p>
    <p class="lead">Educação e Apoio: Além de cuidados médicos, o Proadisus oferece educação e apoio aos pacientes e suas famílias. Isso inclui orientação sobre como gerenciar a DRC no dia a dia, a importância da adesão ao tratamento e o apoio emocional para enfrentar os desafios associados à doença.</p>
</div>

<div class="container text-center mt-4">
    <h1>Benificios do ProadiSUS</h1>
    <p class="lead">Redução de Custos de Saúde: A detecção precoce e o tratamento eficaz da DRC podem reduzir os custos associados ao tratamento de estágios avançados da doença e complicações relacionadas.
        <br>
        Melhora na Qualidade de Vida: Pacientes que participam do Proadisus têm uma chance melhor de manter uma boa qualidade de vida, mesmo com DRC. Eles podem retardar a progressão da doença e evitar complicações graves.
        <br>        
        Conscientização Pública: O programa ajuda a sensibilizar a população sobre a DRC, seus fatores de risco e a importância do diagnóstico precoce.
        <br>
        Apoio às Famílias: O Proadisus não se concentra apenas no paciente, mas também nas famílias, fornecendo orientação e apoio para enfrentar os desafios da DRC.</p>
</div>

<div class="container text-center mt-4">
    <h1>Conclusão</h1>
    <p class="lead">O Proadisus é uma ferramenta vital no combate à doença renal crônica. Ao prevenir, diagnosticar e tratar a DRC de maneira eficaz, ele oferece esperança e melhora a qualidade de vida dos pacientes afetados por essa condição. Se você ou alguém que você conhece está em risco de DRC, procurar ajuda por meio do Proadisus pode ser o primeiro passo para uma vida mais saudável e plena.</p>
</div>


{% endblock %}