<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style_proadi.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css')}}">
    <title></title>
</head>
<body>
    <header class="navbar">
        <img class="navbar__logo" src="../static/img/logoph.png" alt="logo do site">
        <nav class="navbar__links">
            <a class="navbar__links__link" href="/">Início</a>
            <a class="navbar__links__link" href="">Hospitais</a>
            <a class="navbar__links__link" href="/dados">Dados gerais</a>
            <a class="navbar__links__link" href="/blog">Blog</a>
            <a class="navbar__links__link" style="border-right: 1px solid #FFF; padding-right: 50px;" href="/proadisus">Proadi-SUS</a>
            <a class="navbar__links__link" href="/login">Entrar</a>
        </nav>
    </header>

    <div class="fundoescuro">
        <div class="cabecalho">
            <img class="proadi_IMG" src="{{ url_for('static', filename='img/proadisus.png')}}" alt="proadisus">
            <h1 class="titulo"> Conheca mais sobre o Programa de Apoio Ao Desenvolvimento institucional do Sistmea Unico de Saude</h1>
        </div>
    </div>
    <div class="conteudo">
        <section>
            <h2> Defender </h2>
                <p>
                    Pacientes críticos em Unidades de Terapia Intensiva (UTIs) apresentam elevada mortalidade no Brasil. No Sistema Único de Saúde (SUS), essa taxa está acima de 30%, segundo os resultados de 2022 do projeto UTIs Brasileiras, realizado pela Associação de Medicina Intensiva Brasileira. Especificamente, pacientes admitidos por sepse ou aqueles que apresentam necessidade de substituição renal apresentam mortalidade na UTI superior a 40% quando há disfunção orgânica.
                    Estudos recentes sugerem que inibidores de SGLT2 (nova classe de medicamentos utilizados para controle da diabetes) podem ser benéficos para reverter esse cenário. Eles reduzem a glicemia a partir do estímulo da perda de glicose pela urina, além de diminuírem a produção de mediadores inflamatórios e de lesão de isquemia e reperfusão. Todos esses efeitos são potencialmente úteis em situações críticas, principalmente em pacientes com sepse.
                    O projeto Defender, desenvolvido pelo Hospital Israelita Albert Einstein, no âmbito do PROADI-SUS, em parceria com o Ministério da Saúde, avalia a eficácia da Dapagliflozina (inibidor de baixo custo, disponível no SUS) na redução da mortalidade, necessidade de tratamentos para insuficiência renal e tempo de internação na UTI.
                </p>
    
                <p>Enfrentar a IRC em um filho é uma jornada desafiadora, mas com amor, informação e apoio, você pode desempenhar um papel fundamental em ajudar seu filho a levar uma vida plena e feliz. Lembre-se de que você não está sozinha e que muitas mães passaram por essa jornada com sucesso.</p>
        </section>
    
        <section>
            <h2> Para mais informacoes acesse os sites: </h2>
    
                <a class="link" href="http://hospitais.proadi-sus.org.br/projeto/defender-estudo-clinico-randomizado-avaliando-a-eficacia-de-dapagliflozina-em-pacientes-criticos"> Projeto PROADI-SUS DEFENDER</a> 
                <a class="link" href="https://www.einstein.br/especialidades/pediatria/subespecialidade/nefrologia"> Nefrologia Hospital Albert Einstein</a>
    
        </section>
    </div>
</body>
</html>


