.box-container {
    background-color: white;
    padding-left:  65px;
    padding-right: 65px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: left;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}


.box-container input {
    margin-top: 0px;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#box_1{
    margin-top: 40px;
}

.categorias{
    display:flex;
    flex-flow: row;
    width: 100%;
    
}

.espaçamento{
    margin-right: 2%;
}

.button_forma{
    border-radius: 4.25px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}

.aprovado{
background: green;
color: white;
}


.pendente{
background-color: yellow;
color: white;
}

a{
    text-decoration: none;
    color:#374151 ;
}

.button_aprovar{
    background-color: green;
    color: white;
    width: 20%;
    height: 40px;
    font-weight: bold;
}

.button_reprovar{
    background-color: red;
    color: white;
    width: 20%;
    height: 40px;
    font-weight: bold;
}

.aprovacao {
    min-width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.comment-container {
    margin-bottom: 20px; /* Adiciona espaço entre os comentários */
 }

 .comment-container p {
    max-width: 100%; /* Define a largura máxima para o parágrafo dentro do contêiner */
    overflow-wrap: break-word; /* Quebra a palavra para evitar que comentários longos ultrapassem as margens */
 }