@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&family=Roboto:wght@400;500;700&family=Ubuntu:wght@400;500;700&display=swap');

/* variáveis */

:root {
    /* cores */
    --fundo-principal: #004618;
    --logo: #FFB800;
    --obrigatoriedade: #EA1C24;
    --background-principal: #F4F4F4;
    --background-secundario: #CCCDCE;
    --borda: #BFBFBF;
    --palceholder: #9D9D9D;
    --label: #7C7C7C;
    --texto: #374151;
    --titulo: #111827;

    /* fontes */

    --roboto: 'Roboto', sans-serif ;
    --ubuntu: 'Ubuntu', sans-serif ;
    --raleway: 'Raleway', sans-serif ;
}

/* normalização do layout do navegador */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

.form{
    display: block;
    justify-content: space-around;
    /* border: 1px solid red; */
    padding-left: 150px;
    padding-top: 200px;
}

.usericon{
    width: 125px;
}

.btn-custom{
    background-color: var(--fundo-principal, #004618);
    color: var(--background-principal, #F4F4F4);
    
}

.navbar{
    /* layout */
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: auto;
    padding: 10px 30px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    z-index: 99;
    /* estilos */ 
    background: var(--Fundo-Principal, #004618);
}

.navbar__logo{
    width: 28px;
    height: 36.167px;
    flex-shrink: 0;
}

.navbar__links{
    display: flex;
    padding-right: 0px;
    align-items: center;
    gap: 22px;
}

.navbar__links__link{
        /* estilizando fontes */
        text-decoration: none;
        color: var(--Background-secundrio, #F4F4F4);
        font-family: var(--roboto);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 16.8px */
        letter-spacing: -0.14px;
}


.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-height: 100%;
    padding-bottom: 30px; 
    background: var(--Fundo-Principal, #004618);
}

.copyright {
    text-align: center;
    color:  var(--background-principal);
    font-size: 14px;
    font-family: var(--roboto);
    font-weight: 400;
    line-height: 16.80px;
    word-wrap: break-word
}

.tela_perfil_nome{
    display: none;
    position: absolute;
}

.tela_perfil_nome {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
}
.tela_perfil_nome ul {
    list-style: none;
    padding: 0;
}

.tela_perfil_nome li {
    margin: 5px 0;
    cursor: pointer;
}

.tela_perfil_nome li:hover {
    background-color: #eee;
}