@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&family=Roboto:wght@400;500;700&family=Ubuntu:wght@400;500;700&display=swap');

/* variáveis */

:root {

    /* cores */
    
    --fundo-principal: #004619;
    --logo: #FFB800;
    --obrigatoriedade: #EA1C24;
    --background-principal: #F4F4F4;
    --background-secundario: #CCCDCE;
    --borda: #BFBFBF;
    --palceholder: #9D9D9D;
    --label: #7C7C7C;
    --texto: #374151;
    --titulo: #111827;

    /* fontes */

    --roboto: 'Roboto', sans-serif ;
    --ubuntu: 'Ubuntu', sans-serif ;
    --raleway: 'Raleway', sans-serif ;
}

/* normalização do layout do navegador */

body{
    background-color: var(--background-principal);
}
* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    border: 0;
}
.form{
    display: block;
    justify-content: space-around;
    /* border: 1px solid red; */
    padding-left: 150px;
    padding-top: 200px;
}

.usericon{
    width: 125px;
}

.btn-custom{
    background-color: var(--fundo-principal);
    color: var(--background-principal);
}

.navbar{
    /* layout */
    
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: auto;
    padding: 10px 30px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    z-index: 1001;
    /* estilos */ 
    background: var(--fundo-principal);
}

.navbar__logo{
    width: 28px;
    height: 36.167px;
    flex-shrink: 0;
}

.navbar__links{
    display: flex;
    padding-right: 0px;
    align-items: center;
    gap: 22px;
}

.navbar__links__link{
        /* estilizando fontes */
        text-decoration: none;
        color: var(--background-principal);
        font-family: var(--roboto);
        font-size: 14px;
        font-style: normal; 
        font-weight: 400;
        line-height: 120%; /* 16.8px */
        letter-spacing: -0.14px;
}

.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-height: 100%;
    padding-bottom: 30px; 
    background: var(--fundo-principal);
}

.copyright {
    text-align: center;
    color:  var(--background-principal);
    font-size: 14px;
    font-family: var(--roboto);
    font-weight: 400;
    line-height: 16.80px;
    word-wrap: break-word;
}

.menuzin {
    display: inline;
}

.tela_perfil_nome {
    overflow: hidden;
    display: none;
    position: fixed;
    right: 0;
    top: 50px;
    min-width: 255px;
    background-color: #F4F4F4;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 0 0 0 10px;
}

.tela_perfil_nome li {
    margin-bottom: 10px;
}

.tela_perfil_nome a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* inicio do telaperfilnome 2 */

.tela_perfil_nome2 {
    overflow: hidden;
    top: 50px;
    min-width: 255px;
    background-color: #004619;
    width: 100%;
}

.tela_perfil_nome2 a {
    text-decoration: none;
    color: white;
}

.foto_perfil {
    object-fit: cover;
    vertical-align: middle;
    border-radius: 50%;
}

/* fim do telaperfilnome 2 */

#fundo-escuro {
    display: none;
    position: fixed;
    margin-top: 53px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.hr_navbar{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    border-bottom: solid 1px #3ea8636c;
}

.navbar-dark,
.navbar[data-bs-theme=dark] {
  --bs-navbar-color: rgba(255, 255, 255, 0);
  --bs-navbar-hover-color: rgba(255, 255, 255, 0.75);
  --bs-navbar-disabled-color: rgba(255, 255, 255, 0.25);
  --bs-navbar-active-color: #fff;
  --bs-navbar-brand-color: #fff;
  --bs-navbar-brand-hover-color: #fff;
  --bs-navbar-toggler-border-color: rgba(255, 255, 255, 0);
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 255' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}