body{
    background-color: rgb(231, 231, 231);
}

.bg-img {
    height: 100vh;
    width: 100%;
    background-image: url(../img/foto_hospital.png);

    background-position: center;
    background-size: cover;
  }

.escuro{
    background-color: rgba(0, 0, 0, 0.226);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.conteudo__capa__texto {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.style_letra_capa{
    align-self: stretch;
    color: white;
    font-size: 32px;
    font-family: Raleway;
    font-weight: 700;
    line-height: 38.40px;
    word-wrap: break-word;
}

.button_forma{
    width: 174.38px;
    height: 45px;
    padding: 11.25px;
    background: #004618;
    border-radius: 11.25px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 11.25px;
    display: inline-flex;
}

.letra_button{
    color: white;
    font-size: 15.75px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 15.75px;
    word-wrap: break-word;
}

.divgeral{
    width: 90%;
    height: 600px;
    display: flex;
    margin: 0 auto;
    border-radius: 10px;
    border: 2px solid #c7c7c7;
    background-color: white;
}

.divinterna{
    width: 90%;
    height: 90%;
    margin: 0 auto;
    /* background-color: red; */
}

.formularios{
    display: flex;
    justify-content: space-between;
}