main{
    margin-top: 68px;
    background-color: var(--background-principal);
}

.bg-img {
    height: 100vh;
    width: 100%;
    background-image: url(../img/home_imgs/capa_home.png);

    background-position: center;
    background-size: cover;
  }

  
.escuro{
    background-color: rgba(0, 0, 0, 0.226);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.conteudo__capa__texto {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.style_letra_capa{
    align-self: stretch;
    color: white;
    font-size: 32px;
    font-family: var(--raleway);
    font-weight: 700;
    line-height: 38.40px;
    word-wrap: break-word;
}

.button_forma{
    width: 174.38px;
    height: 45px;
    padding: 11.25px;
    background: var(--fundo-principal);
    border-radius: 11.25px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 11.25px;
    display: inline-flex;
}

.letra_button{
    color: white;
    font-size: 15.75px;
    font-family: var(--roboto);
    font-weight: 700;
    line-height: 15.75px;
    word-wrap: break-word;
}

.conteudo {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    gap: 20px;
    width: auto;
    padding: 3% 5%;
}

.conteudo__titulo {
    color: var(--titulo);
    font-size: 28px;
    font-family: var(--raleway);
    font-weight: 700;
    line-height: 28px;
    word-wrap: break-word
}

.conteudo__texto {
    color: var(--texto);
    font-size: 16px;
    font-family: var(--roboto);
    font-weight: 400;
    line-height: 19.20px;
    word-wrap: break-word
}

.conteudo__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2%;
    padding: 3% 5%;
}

.perguntas{
    display: flex;
    flex-flow: column wrap;
    padding: 3% 5%;
    background-color: rgba(0, 70, 25, 0.05);
}


.titulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.titulo__titulo {
    color: var(--fundo-principal);
    font-size: 28px;
    font-family: var(--raleway);
    font-weight: 700;
    line-height: 28px;
    word-wrap: break-word
    
}

.perguntas__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2%;
}

.card {
    max-width: 540px;
    border: var(--background-principal);
    background-color: var(--background-principal);
    margin-bottom: 1%;
}

.card-header {
    background-color: var(--fundo-principal);
    color: white;
    font-size: 16px;
    font-family: var(--raleway);
    font-weight: 700;
    line-height: 16px;
    word-wrap: break-word
}

.card-title {
    color: var(--titulo);
    font-size: 28px;
    font-family: var(--raleway);
    font-weight: 700;
    line-height: 28px;
    word-wrap: break-word
}

.card-text {
    color: var(--texto);
    font-size: 16px;
    font-family: var(--roboto);
    font-weight: 400;
    line-height: 19.20px;
    word-wrap: break-word
}

.col-md-4 {
    display: flex;
    justify-content: center;
}