body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.login-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner {
    flex: 1;
    background-image: url(../img/capa_login.png);
    background-size: cover;
    background-position: center;
}

.login-form {
    padding: 50px;
}