.flex_container1{
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.flex_container2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
}

.flex_row{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 45px;
}

.new-post{
    display: flex;
    margin: 20px;
    justify-content: space-evenly;
}

.button_forma{
    width: 174.38px;
    height: 45px;
    padding: 11.25px;
    background: #004618;
    border-radius: 11.25px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 11.25px;
    display: inline-flex;
}

.button_submit{
    background-color: #004618;
    color: white;
}

.imagens_pequenas {
    min-height: 180px;
    min-width: 180px;
    max-height: 10rem;
    object-fit: cover;
    vertical-align: middle;
}

.imagens_medias {
    min-height: 350px;
    min-width: 322px;
    object-fit: cover;
    vertical-align: middle;
}

.imagem_grande {
    min-height: 572px;
    min-width: 572px;
    object-fit: cover;
    vertical-align: middle;
}

a{
    text-decoration: none;
}

@media screen and (max-width:800px) {
        
    .imagens_pequenas{
        width: 100%;
    }

    .imagens_medias{
        max-height: 10rem;
        min-height: 180px;
        min-width: 180px;
    }

    .new-post{
        display: flexbox;
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    .submit_btn{
        width: auto;
    }

    .carousel-item{
        width: 100%;
    }
    
    html, body {
        overflow-x: hidden;
      }
    
    
    .main-card-title{
        width: 60%;
        align-self: center;
        text-align: justify;
    }

    .carousel-control-next, .carousel-control-prev{
        filter: opacity(0);
    }

    .card-pequeno{
        margin: 20px;
    }

    .card-medio{
        margin: 15px;
    }
}
